
.transportation-button {
  position: relative;
  display: inline-block;
  border: none;
  background-color: #0066cc;
  color: #FFFFFF;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
}

.transportation-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 160px;
  padding: 8px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.transportation-dropdown a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.transportation-dropdown a:hover {
  background-color: #f1f1f1;
}

.transportation-button:hover .transportation-dropdown {
  display: block;
}

.container {
  display: none;
}

.show {
  display: block;
}

form {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="submit"] {
   margin-top: 1rem;
  background-color: #0066cc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {

  background-color: #0066cc;
}