@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body .nav h2 {
    background-color: #fbfbfb;
    font-family: 'Poppins', sans-serif;
}

body .Divider {
    width: 1520px;
    height: 1px;
    background-color: black;
    display: inline-block;
}

.container {
    font-family: 'Poppins', sans-serif;
    padding: 30p;
    max-width: 1000px;
    text-align: center;
}

.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.code {
    background-color: #737171;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border: 1px solid#737171;
    margin: 1%;
    text-align: center;
    font-size: 300;
    -moz-appearance: textfield;
}

.info button {
    margin: 2%;
    height: 30px;
    width: 200px;
    background-color: #737171;
    box-shadow: 0 10px-5px rgba(0, 0, 0, 0.25);
}