body {
    font-family: Arial, sans-serif;
    background-color: #ffffff9a;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type=text], input[type=email] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
  }
  
    #add-customer-form, #delete-customer-form {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
  }
  
  #add-customer-form h2, #delete-customer-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #customer-table tr:hover {
    background-color: #f2f2f2;
  }
  
  #customer-table td:last-child {
    text-align: center;
  }
  